.my-dropdown-toggle{
  cursor: pointer;
  text-align: right;
  color: #007bff!important;
}

.my-dropdown-menu{
  font-size: 13px;
  margin-top: 7px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  left: -100px;
}

.my-dropbox-item{
  cursor: pointer;
}

.my-nav-btn{
  color: #707070 !important;
  text-decoration: none !important;
  font-size: 13px;
}

.my-nav-btn:hover{
  color: #000;
}

.my-welcome{
  color: #333333!important;
  cursor: default;
  padding-right: 0px!important;
}

.divisor{
  border-left:1px solid #707070;
  height:30px;
  margin: 3px 5px 0px 5px;
}

.dropdown-item:active{
  color: #ffffff !important;
  border-radius: 0px;
}
