<div class="card-container container-fluid">
  <div class="image-container">
      <img [src]="getImage()" class="prof-bg-img">
      <img src="{{image}}" class="rounded-circle prof-img" width="100px">
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <label class="card-label">Nome:</label> {{name}}
      </div>
      <div class="col">
        <label class="card-label middle">Preço:</label> {{price}}€/hr
      </div>
      <div class="col classification-col">
        <label class="card-label">Classificação:</label>
        <div class="rate-box">
          <div class="rate" [ngClass]="rate >= 4.5 ? 'high' : rate >= 3.5 ? 'medium-high' : rate >= 3 ? 'medium' : rate >= 2 ? 'medium-low' : 'low'">
            {{rate}}
          </div> / 5
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-4">
        <label class="card-label">Localização:</label> {{location}}
      </div>
      <div class="col col-8">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col col-4">
        <label class="card-label">Especialidade:</label> {{speciallity}}
      </div>
      <div class="col col-8 tags-col">
        <span class="badge badge-pill badge-primary" *ngFor="let tag of tags">{{tag}}</span>
      </div>
    </div>
  </div>
  <div class="link-container">
    <h1><i class="fas fa-chevron-circle-right"></i></h1>
  </div>
</div>
