.card-container{
  background-color: #ffffff;
  padding: 15px 50px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  color: #707070;
  overflow: hidden;
}

.prof-img{
  border: solid 3px #fff;
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: 0px -10px;
  position: absolute;
  margin-top: 40px;
  left: 215px;
  box-shadow: 0px -25px 50px -10px rgb(114, 114, 114)
}

.prof-bg-img{
  filter: brightness(0.8);
  width: 150px;
  height: 100px;
}

.image-container{
  margin-right: 50px;
}

.col{
  padding: 0px 0px;
  height: 35px;
}

.card-label{
  font-weight: bold;
}

.classification-col{
  display: flex;
  align-items: center;
}

.container{
  width: 66%;
}

.rate-box{
  display: flex;
  font-size: 15px;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: #f6f6f6;
}

.rate{
  font-size: 20px;
  margin-right: 3px;
}

.low{
  color: #dc3545;
}

.medium-low{
  color: #fd7e14;
}

.medium{
  color: #ffc107;
}

.medium-high{
  color: #98e916;
}

.high{
  color: #20c997;
}

.badge{
  margin-right: 10px;
}

.tags-col{
  margin-bottom: 15px;
}

.link-container{
  margin-right: 50px;
  color: #d9dcde;
}

.badge{
  padding: .5em .4em !important;
}
