
<app-navbar></app-navbar>
<app-search-filters (submitted)="onSubmit($event)"></app-search-filters>
<div class="search-wrapper">
    <ul>
      <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">
        <app-search-card
          id="{{item.id}}"
          name="{{item.name}}"
          image="../../../assets/images/Users/user{{item.id}}.jpg"
          location="{{item.location}}"
          speciallity="{{item.speciallity}}"
          price={{item.price}}
          rate={{item.classification}}
          [tags]="item.tags"
          ></app-search-card>
      </li>
    </ul>
    <div class="center">
      <pagination-controls class="my-pagination"
      (pageChange)="p = $event"
      previousLabel=""
      nextLabel="">
    </pagination-controls>
    </div>
</div>


