<app-navbar></app-navbar>
<div class="page-wrapper">
  <div class="container">
    <div class="image-container" [ngClass]="professional.speciallity === 'Eletricista' ? 'eletricista' : professional.speciallity === 'Canalizador' ? 'plumber' : ''">
      <h2 class="name">{{professional.name}}</h2>
    </div>
    <div class="profile-picture-container">
      <img class="profile-picture  rounded-circle" src="../../../assets/images/Users/user{{professional.id}}.jpg">
    </div>
    <div class="container-fluid my-container">
      <div class="flex-box">
      <div class="information-container">
        <div class="tags-container">
          <h5>
            <span class="badge badge-pill badge-primary my-tag" *ngFor="let tag of professional.tags">{{tag}}</span>
          </h5>
        </div>
        <div class="row my-information-row">
          <div class="col-12">
            <label class="field-title">Informação</label>
          </div>
          <div class="col-6 my-col">
            <img src="../../../assets/images/profile-icons/suitcase.png" width="25px">
            <label class="field-label">Especialidade:</label>
            {{professional.speciallity}}
          </div>
          <div class="col-6 my-col">
            <img src="../../../assets/images/profile-icons/smartphone.png" width="25px">
            <label class="field-label">Telefone:</label>
            {{professional.phone}}
          </div>
          <div class="col-6 my-col">
            <img src="../../../assets/images/profile-icons/placeholder.png" width="25px">
            <label class="field-label">Localização:</label>
            {{professional.location}}
          </div>
          <div class="col-6 my-col">
            <img src="../../../assets/images/profile-icons/arroba.png" width="25px">
              <label class="field-label">Email:</label>
              {{professional.email}}
          </div>
          <div class="col-6 my-col">
            <img src="../../../assets/images/profile-icons/favorite.png" width="25px">
            <label class="field-label">Classificação:</label>
            {{professional.classification}}
          </div>
          <div class="col-6 my-col">
          </div>
        </div>
      </div>
      <div class="row my-buttons-row">
        <div class="col-12 my-col">
          <button class="btn btn-primary my-button" (click)="open('dialog')"><i class="fas fa-address-book my-icon"></i>Agende um serviço</button>
        </div>
        <div class="col-12 my-col">
          <button class="btn btn-outline-primary my-button"><i class="fas fa-envelope my-icon"></i>Envie uma mensagem a {{professional.name.split(' ')[0]}} </button>
        </div>
        <div class="col-6 my-col">
        </div>
        <div class="col-6 my-col">
          <label class="price-tag">{{professional.price}}€/hora</label>
        </div>
      </div>
    </div>
    <div>
      <label class="field-title">Descrição</label>
      <p>{{professional.description}}</p>
    </div>
    </div>
  </div>
</div>
<kendo-dialog title="Agendamento de um serviço" *ngIf="dialogOpened && step===1;" (close)="close()" [minWidth]="250" [width]="500" [height]="625">
  <div class="block-box dialog-div">
    <div class="alert alert-danger" role="alert" *ngIf="invalidForm">
      Todos os campos devem ser preenchidos!
    </div>
    <div class="flex-box dialog-item">
      <label class="dialog-label">Dia da visita: </label>
      <kendo-datepicker class="my-date-picker my-input" placeholder="Qual a sua disponibilidade?" name="date"
        [min]="minDate"
        [format]="'dd-MM-yyyy'"
        [formatPlaceholder]="{ year: 'ano', month: 'mês', day: 'dia' }"
        [(ngModel)]="date"
        (keydown)="onKeydown($event)"
        (ngModelChange)="invalidForm=false"
      ></kendo-datepicker>
    </div>
    <div class="flex-box dialog-item">
      <label class="dialog-label">Hora da visita: </label>
      <kendo-timepicker class="my-date-picker my-input" placeholder="A que horas pretende?"
        [(ngModel)]="hour"
        [format]="'HH:mm'"
        [formatPlaceholder]="{ hour: 'hora', minute: 'minuto' }"
        [min]="minHour"
        [max]="maxHour"
        [steps]="steps"
        (ngModelChange)="invalidForm=false"
      ></kendo-timepicker>
    </div>
    <form>
        <div class="form-group">
          <label>Morada</label>
          <input type="text" class="form-control form-input" placeholder="Morada" [(ngModel)]="address" name="address" (ngModelChange)="invalidForm=false">
        </div>
        <div class="form-group">
          <label>Localização</label>
          <kendo-autocomplete  class="form-control my-input" name="city"
          [(ngModel)]="city"
          [data]="cityList"
          [placeholder]="'Exemplo: Porto'"
          (ngModelChange)="invalidForm=false"
        ></kendo-autocomplete >
        </div>
        <div class="form-group block-box">
          <label>Código Postal</label>
        <br/>
          <kendo-maskedtextbox [mask]="mask" [value]="zipcode" (ngModelChange)="invalidForm=false"></kendo-maskedtextbox>
        </div>

    </form>
  </div>
  <kendo-dialog-actions>
    <button kendoButton  (click)="close()">Cancelar</button>
    <button kendoButton (click)="action('continue')" primary="true">Agendar</button>
  </kendo-dialog-actions>
</kendo-dialog>
<kendo-dialog (close)="close()" [width]="400" *ngIf="dialogOpened && step===2;" [height]="300" title="Sucesso!">
    <p style="text-align: center; padding-top: 5em;">A sua reserva foi feita com sucesso.</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="action('finish')" primary="true">Finalizar!</button>
    </kendo-dialog-actions>
  </kendo-dialog>
