<nav class="navbar fixed-top navbar-expand-lg my-filter-container">
  <div class="input-group mb-3">
    <input type="text" class="form-control my-input" placeholder="Exemplo: Canalizador, Eletricista, Pintor..." name="searchField" [(ngModel)]="searchField" (keydown)="onKeydown($event)">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2" (click)="onSubmit()">Search<i class="fa fa-search my-search-icon"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm input-group mb-3">
        <kendo-autocomplete  class="form-control my-input" name="city"
          [(ngModel)]="city"
          [data]="cities"
          [placeholder]="'Exemplo: Porto'"
          (keydown)="onKeydown($event)"
        ></kendo-autocomplete >
      <div class="input-group-append">
        <span class="input-group-text my-group-addon" id="basic-addon2"><i class="fas fa-map-marker-alt"></i></span>
      </div>
    </div>
    <div class="col-sm input-group mb-3">
        <kendo-datepicker class="my-date-picker my-input" placeholder="Qual a sua disponibilidade?" name="date"
          [min]="minDate"
          [format]="'dd-MM-yyyy'"
          [formatPlaceholder]="{ year: 'ano', month: 'mês', day: 'dia' }"
          [(ngModel)]="date"
          (keydown)="onKeydown($event)"
        ></kendo-datepicker>

    </div>
    <div class="col-sm input-group mb-3 my-price-col">
      <div class="my-slider-title">{{price}}€/hora</div>
      <kendo-slider class="my-input"
        [showButtons]="false"
        [tickPlacement]="'none'"
        [min]="1"
        [max]="50"
        [smallStep]="1"
        [(ngModel)] = "price" class="my-price-slider"
        (keydown)="onKeydown($event)"
      ></kendo-slider>
    </div>
  </div>
</nav>

