html, body{
  height: 100%;
  background-color: #EFEFEF;
}

body{
  height: 100%;
}

html, body { height: 100%; }
body {
  font-family: url('assets/fonts/segoeui.ttf') !important;
}

.k-datepicker .k-select,
.k-timepicker .k-select{
  background-color: #007bff !important;
  width: 38px;
  color: #ffffff;
  height: calc(0.75rem + 1.5em + 2px);
  border-radius: 0rem .25rem .25rem 0rem !important;
  margin-right: -1px;
}

.k-datepicker .k-picker-wrap{
  border-radius: .3rem;
}

.k-dateinput-wrap .k-input{
  color: #707070;
}

input:focus{
  box-shadow: none !important;
}

.current {
  background: #007bff !important;
  color: #ffffff;
  margin-bottom: 25px;
}

.ngx-pagination a{
  color: #333333!important;
  text-decoration: none;
  margin-top: 30px;
}
