<div class="container" id="login-container">
    <div class="logo-container">
      <a routerLink="/"><img class="logo" src="../../../../assets/images/logo.png" width="250px"></a>
    </div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control form-input" placeholder="Username" #username>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-input" placeholder="Password" #password>
      </div>
      <div class="row">
        <div class="form-group col-xs-6 col-sm-6" id="rememberMeDiv">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMeInput">
            <label for="rememberMeInput" class="form-check-label">Manter-me conectado</label>
          </div>
        </div>
        <div class="form-group col-xs-6 col-sm-6" id="forgotPwDiv">
          <a class="btn-link" id="forgotPW" routerLink="/register">Esqueceu-se da sua password?</a>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary form-control" id="loginButton" (click)="onLoginClick(username.value, password.value)">Entrar</button>
      </div>
      <div class="row" id="registerNowDiv">
        <label>Ainda não é nosso membro?</label>
        <a class="btn-link" id="registerLink" routerLink="/register">Registe-se já!</a>
      </div>
    </form>
    <hr id="separator"/>
    <div class="form-group">
      <button type="button" class="btn btn-danger form-control" id="googleLogin">
        <i class="fab fa-google" id="google-icon"></i>
        Log in with Google</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn onl_btn-facebook btn-primary form-control" id="facebookLogin">
          <i class="fab fa-facebook" id="facebook-icon"></i>
          Log in with Facebook</button>
      </div>
  </div>
